--
-- PostgreSQL database dump
--

\restrict e7lb20TxsYgS0upj4GkI7esjtaQPkohbseJMKuzKgvPxv8OYfqbAuIA3rey2Ny9

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AppUsers; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."AppUsers" (
    "Username" text NOT NULL,
    "Password" text NOT NULL,
    "Role" text NOT NULL,
    "DisplayName" text NOT NULL,
    "ResidentId" text
);


ALTER TABLE public."AppUsers" OWNER TO carehub;

--
-- Name: MarEntries; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."MarEntries" (
    "Id" uuid NOT NULL,
    "ClientRequestId" uuid NOT NULL,
    "ResidentId" uuid NOT NULL,
    "MedicationId" uuid NOT NULL,
    "MedicationOrderId" uuid,
    "Status" character varying(50) NOT NULL,
    "DoseQuantity" integer NOT NULL,
    "DoseUnit" character varying(50) NOT NULL,
    "ScheduledForUtc" timestamp with time zone,
    "AdministeredAtUtc" timestamp with time zone NOT NULL,
    "AdministeredByStaffId" uuid,
    "Notes" character varying(1000),
    "IsVoided" boolean NOT NULL,
    "VoidedAtUtc" timestamp with time zone,
    "VoidReason" character varying(500),
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL,
    "RecordedBy" character varying(200)
);


ALTER TABLE public."MarEntries" OWNER TO carehub;

--
-- Name: MedicationInventoryLedgers; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."MedicationInventoryLedgers" (
    "Id" uuid NOT NULL,
    "MedicationId" uuid NOT NULL,
    "MarEntryId" uuid NOT NULL,
    "ChangeQty" integer NOT NULL,
    "Unit" character varying(50) NOT NULL,
    "Reason" character varying(100) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."MedicationInventoryLedgers" OWNER TO carehub;

--
-- Name: MedicationOrders; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."MedicationOrders" (
    "Id" uuid NOT NULL,
    "MedicationId" uuid NOT NULL,
    "RequestedQuantity" integer NOT NULL,
    "Status" character varying(50) NOT NULL,
    "RequestedAt" timestamp with time zone NOT NULL,
    "RequestedBy" character varying(200),
    "OrderedAt" timestamp with time zone,
    "OrderedBy" character varying(200),
    "ReceivedAt" timestamp with time zone,
    "ReceivedBy" character varying(200),
    "CancelledAt" timestamp with time zone,
    "CancelledBy" character varying(200),
    "MedicationName" character varying(200),
    "Notes" character varying(1000),
    "ReceivedExpiryDate" timestamp with time zone
);


ALTER TABLE public."MedicationOrders" OWNER TO carehub;

--
-- Name: Medications; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."Medications" (
    "Id" uuid NOT NULL,
    "MedName" text NOT NULL,
    "Dosage" text NOT NULL,
    "Usage" text,
    "Quantity" integer NOT NULL,
    "QuantityUnit" text NOT NULL,
    "StockQuantity" integer NOT NULL,
    "ReorderLevel" integer NOT NULL,
    "ExpiryDate" timestamp with time zone NOT NULL,
    "ResidentId" uuid,
    "ResidentName" text,
    "IsDone" boolean NOT NULL,
    "TimesPerDay" integer NOT NULL,
    "ReminderMon" boolean NOT NULL,
    "ReminderTue" boolean NOT NULL,
    "ReminderWed" boolean NOT NULL,
    "ReminderThu" boolean NOT NULL,
    "ReminderFri" boolean NOT NULL,
    "ReminderSat" boolean NOT NULL,
    "ReminderSun" boolean NOT NULL,
    "MonTime1" interval NOT NULL,
    "MonTime2" interval NOT NULL,
    "MonTime3" interval NOT NULL,
    "TueTime1" interval NOT NULL,
    "TueTime2" interval NOT NULL,
    "TueTime3" interval NOT NULL,
    "WedTime1" interval NOT NULL,
    "WedTime2" interval NOT NULL,
    "WedTime3" interval NOT NULL,
    "ThuTime1" interval NOT NULL,
    "ThuTime2" interval NOT NULL,
    "ThuTime3" interval NOT NULL,
    "FriTime1" interval NOT NULL,
    "FriTime2" interval NOT NULL,
    "FriTime3" interval NOT NULL,
    "SatTime1" interval NOT NULL,
    "SatTime2" interval NOT NULL,
    "SatTime3" interval NOT NULL,
    "SunTime1" interval NOT NULL,
    "SunTime2" interval NOT NULL,
    "SunTime3" interval NOT NULL
);


ALTER TABLE public."Medications" OWNER TO carehub;

--
-- Name: Observations; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."Observations" (
    "Id" uuid NOT NULL,
    "ResidentId" uuid NOT NULL,
    "RecordedAtUtc" timestamp with time zone NOT NULL,
    "Type" text NOT NULL,
    "Value" text NOT NULL,
    "RecordedBy" text NOT NULL,
    "ResidentName" text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."Observations" OWNER TO carehub;

--
-- Name: Residents; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."Residents" (
    "Id" uuid NOT NULL,
    "ResidentFName" text NOT NULL,
    "ResidentLName" text NOT NULL,
    "DateOfBirth" text DEFAULT ''::text NOT NULL,
    "AdmissionDate" text,
    "RoomNumber" text NOT NULL,
    "Address" text,
    "AllergyAspirin" boolean DEFAULT false NOT NULL,
    "AllergyEggs" boolean DEFAULT false NOT NULL,
    "AllergyFish" boolean DEFAULT false NOT NULL,
    "AllergyLatex" boolean DEFAULT false NOT NULL,
    "AllergyMilk" boolean DEFAULT false NOT NULL,
    "AllergyOtherItems" text,
    "AllergyPeanuts" boolean DEFAULT false NOT NULL,
    "AllergyPenicillin" boolean DEFAULT false NOT NULL,
    "AllergyShellfish" boolean DEFAULT false NOT NULL,
    "AllergySoy" boolean DEFAULT false NOT NULL,
    "AllergySulfa" boolean DEFAULT false NOT NULL,
    "AllergyTreeNuts" boolean DEFAULT false NOT NULL,
    "AllergyWheat" boolean DEFAULT false NOT NULL,
    "BedLabel" text,
    "City" text,
    "DoctorContact" text DEFAULT ''::text NOT NULL,
    "DoctorName" text DEFAULT ''::text NOT NULL,
    "EmergencyContactName1" text DEFAULT ''::text NOT NULL,
    "EmergencyContactName2" text,
    "EmergencyContactPhone1" text DEFAULT ''::text NOT NULL,
    "EmergencyContactPhone2" text,
    "EmergencyRelationship1" text DEFAULT ''::text NOT NULL,
    "EmergencyRelationship2" text,
    "Gender" text,
    "PostalCode" text,
    "Province" text,
    "Remarks" text,
    "RoomType" text,
    "SIN" text,
    "AllergyCodeine" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Residents" OWNER TO carehub;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: carehub
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO carehub;

--
-- Data for Name: AppUsers; Type: TABLE DATA; Schema: public; Owner: carehub
--



--
-- Data for Name: MarEntries; Type: TABLE DATA; Schema: public; Owner: carehub
--

COPY public."MarEntries" ("Id", "ClientRequestId", "ResidentId", "MedicationId", "MedicationOrderId", "Status", "DoseQuantity", "DoseUnit", "ScheduledForUtc", "AdministeredAtUtc", "AdministeredByStaffId", "Notes", "IsVoided", "VoidedAtUtc", "VoidReason", "CreatedAtUtc", "UpdatedAtUtc", "RecordedBy") FROM stdin;
\.


--
-- Data for Name: MedicationInventoryLedgers; Type: TABLE DATA; Schema: public; Owner: carehub
--

COPY public."MedicationInventoryLedgers" ("Id", "MedicationId", "MarEntryId", "ChangeQty", "Unit", "Reason", "CreatedAtUtc") FROM stdin;
\.


--
-- Data for Name: MedicationOrders; Type: TABLE DATA; Schema: public; Owner: carehub
--

COPY public."MedicationOrders" ("Id", "MedicationId", "RequestedQuantity", "Status", "RequestedAt", "RequestedBy", "OrderedAt", "OrderedBy", "ReceivedAt", "ReceivedBy", "CancelledAt", "CancelledBy", "MedicationName", "Notes", "ReceivedExpiryDate") FROM stdin;
\.


--
-- Data for Name: Medications; Type: TABLE DATA; Schema: public; Owner: carehub
--



--
-- Data for Name: Observations; Type: TABLE DATA; Schema: public; Owner: carehub
--



--
-- Data for Name: Residents; Type: TABLE DATA; Schema: public; Owner: carehub
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: carehub
--



--
-- Name: AppUsers PK_AppUsers; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."AppUsers"
    ADD CONSTRAINT "PK_AppUsers" PRIMARY KEY ("Username");


--
-- Name: MarEntries PK_MarEntries; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MarEntries"
    ADD CONSTRAINT "PK_MarEntries" PRIMARY KEY ("Id");


--
-- Name: MedicationInventoryLedgers PK_MedicationInventoryLedgers; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MedicationInventoryLedgers"
    ADD CONSTRAINT "PK_MedicationInventoryLedgers" PRIMARY KEY ("Id");


--
-- Name: MedicationOrders PK_MedicationOrders; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MedicationOrders"
    ADD CONSTRAINT "PK_MedicationOrders" PRIMARY KEY ("Id");


--
-- Name: Medications PK_Medications; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."Medications"
    ADD CONSTRAINT "PK_Medications" PRIMARY KEY ("Id");


--
-- Name: Observations PK_Observations; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."Observations"
    ADD CONSTRAINT "PK_Observations" PRIMARY KEY ("Id");


--
-- Name: Residents PK_Residents; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."Residents"
    ADD CONSTRAINT "PK_Residents" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_AppUsers_Username; Type: INDEX; Schema: public; Owner: carehub
--

CREATE UNIQUE INDEX "IX_AppUsers_Username" ON public."AppUsers" USING btree ("Username");


--
-- Name: IX_MarEntries_ClientRequestId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE UNIQUE INDEX "IX_MarEntries_ClientRequestId" ON public."MarEntries" USING btree ("ClientRequestId");


--
-- Name: IX_MarEntries_MedicationId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_MarEntries_MedicationId" ON public."MarEntries" USING btree ("MedicationId");


--
-- Name: IX_MarEntries_ResidentId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_MarEntries_ResidentId" ON public."MarEntries" USING btree ("ResidentId");


--
-- Name: IX_MedicationInventoryLedgers_MarEntryId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE UNIQUE INDEX "IX_MedicationInventoryLedgers_MarEntryId" ON public."MedicationInventoryLedgers" USING btree ("MarEntryId");


--
-- Name: IX_MedicationInventoryLedgers_MedicationId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_MedicationInventoryLedgers_MedicationId" ON public."MedicationInventoryLedgers" USING btree ("MedicationId");


--
-- Name: IX_MedicationOrders_MedicationId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_MedicationOrders_MedicationId" ON public."MedicationOrders" USING btree ("MedicationId");


--
-- Name: IX_Medications_ResidentId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_Medications_ResidentId" ON public."Medications" USING btree ("ResidentId");


--
-- Name: IX_Observations_ResidentId; Type: INDEX; Schema: public; Owner: carehub
--

CREATE INDEX "IX_Observations_ResidentId" ON public."Observations" USING btree ("ResidentId");


--
-- Name: MarEntries FK_MarEntries_Medications_MedicationId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MarEntries"
    ADD CONSTRAINT "FK_MarEntries_Medications_MedicationId" FOREIGN KEY ("MedicationId") REFERENCES public."Medications"("Id") ON DELETE RESTRICT;


--
-- Name: MarEntries FK_MarEntries_Residents_ResidentId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MarEntries"
    ADD CONSTRAINT "FK_MarEntries_Residents_ResidentId" FOREIGN KEY ("ResidentId") REFERENCES public."Residents"("Id") ON DELETE CASCADE;


--
-- Name: MedicationInventoryLedgers FK_MedicationInventoryLedgers_MarEntries_MarEntryId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MedicationInventoryLedgers"
    ADD CONSTRAINT "FK_MedicationInventoryLedgers_MarEntries_MarEntryId" FOREIGN KEY ("MarEntryId") REFERENCES public."MarEntries"("Id") ON DELETE CASCADE;


--
-- Name: MedicationInventoryLedgers FK_MedicationInventoryLedgers_Medications_MedicationId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MedicationInventoryLedgers"
    ADD CONSTRAINT "FK_MedicationInventoryLedgers_Medications_MedicationId" FOREIGN KEY ("MedicationId") REFERENCES public."Medications"("Id") ON DELETE RESTRICT;


--
-- Name: MedicationOrders FK_MedicationOrders_Medications_MedicationId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."MedicationOrders"
    ADD CONSTRAINT "FK_MedicationOrders_Medications_MedicationId" FOREIGN KEY ("MedicationId") REFERENCES public."Medications"("Id") ON DELETE RESTRICT;


--
-- Name: Medications FK_Medications_Residents_ResidentId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."Medications"
    ADD CONSTRAINT "FK_Medications_Residents_ResidentId" FOREIGN KEY ("ResidentId") REFERENCES public."Residents"("Id") ON DELETE CASCADE;


--
-- Name: Observations FK_Observations_Residents_ResidentId; Type: FK CONSTRAINT; Schema: public; Owner: carehub
--

ALTER TABLE ONLY public."Observations"
    ADD CONSTRAINT "FK_Observations_Residents_ResidentId" FOREIGN KEY ("ResidentId") REFERENCES public."Residents"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict e7lb20TxsYgS0upj4GkI7esjtaQPkohbseJMKuzKgvPxv8OYfqbAuIA3rey2Ny9

